{% extends 'accounts/layout.html' %}
{% load bootstrap3 socialaccount %}

{% block content %}
    {% for provider in provider_list %}
        {% if provider.social_app %}
            <a href="{% provider_login_url provider.id %}" class="btn btn-default">
                {{ provider.name }} 로그인
            </a>
        {% else %}
            <a href="#" class="btn btn-default disabled">
                {{ provider.name }} 로그인
            </a>
        {% endif %}
    {% endfor %}

    <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" class="btn btn-default">
    </form>
{% endblock %}